# rust build artifacts
/target

# search engine indices
/index_*

# samply's CPU profiling artifacts
profile.json.gz

# cache for models/datasets downloaded from huggingface.co
# used by fastembed crate and utils/download_hf_file.rs
.hf_cache
